{% extends 'base.html' %}
{% load i18n %}

{% block header %}
{% translate "Labels" %}
{% endblock %}


{% block content %}
<p>
    <a class="btn btn-primary" href="{% url 'labels:label_create' %}">{% translate "Create label" %}</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Created date" %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for label in labels_list %}
    <tr>
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
        <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
        <td>
            <a href="{% url 'labels:label_update' label.id %}">{% translate "Edit" %}</a>
            <br>
            <a href="{% url 'labels:label_delete' label.id %}">{% translate "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock%}